@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $roboto-font;
  color: $text;
}

.section__one {
  border: 1px solid black;
  background-image: url(/images/Jollof\ Rice.jpeg);
  height: 813px;
  background-size: cover;
  color: $text2;
}

.hero-container {
  padding: 0 $spacing-md;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 150px;

  @include breakpoint(md) {
            padding: 0 $spacing-lg;
        }
}

.hero-container > h1 {
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 0.5em;
  width: 320px;
}

.hero-container > p {
  font-size: 1.2em;
  font-weight: 400;
  width: 320px;
}

.CTA-1 {
  margin-top: 4rem;

}
 .CTA-1 > button {
  background-color: $btn;
  color: $text2;
  padding: 0.5em 1.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
 }

 .CTA-1 > a {
  margin-left: 1.5em;
  color: $primary;
 }

 .Best-sellers-header {
  text-align: center;
  font-size: 2.5em;
  font-weight: 700;
  margin: $spacing-md 0;
 }

 .best-sellers-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;      
 }

.best-sellers {
  margin: $spacing-md;
  width: 300px;
  height: 361px;
  border-radius: 10px;
  padding: $spacing-sm + 5px;
  background-color: $primary;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &__details {
    display: flex;
    flex-direction: column;
  }

  &__details > div {

    display: flex;
    justify-content: space-between;

  }

  &__details > div > button {
    background-color: $btn;
    color: $text2;
    padding: 0.1em 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
  }
}

.best-sellers > img {
  width: 100%;
  height: 250px;
  border-radius: inherit;
  object-fit: cover;
}


.discount {
  background-image: url(/images/asorted-jollof.jpeg);
  background-position: center;
  background-size: cover;
  width: 100%;
  color: $text2;
  padding: $spacing-md;
  margin: $spacing-lg 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include breakpoint(md) {
    padding: $spacing-lg;
  }

  
}

.discount > h2 {
  text-align: center;
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: $spacing-sm;
  color: $text2;
}


.discount > p {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: $spacing-md;
  text-align: center;

  @include breakpoint(md) {
    width: 60%;
  }
  
}

.discount > button {
  background-color: $btn;
  color: $text2;
  padding: 0.5em 1.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
}